.header-container{
  display:flex;
  justify-content: center;
  h1{
    color: darkolivegreen;
    text-align: center;
    padding: 2rem;
    transition: 1s;
    &:hover{
      border-radius: 2rem;
      color:lightgrey;
      background:darkolivegreen;
    }
  }
}

.content{
  margin: 3rem;
  font-size: 2rem;
  transition: 1s;
  &:hover{
    letter-spacing: 2px;
  }
}